---
layout: archive
permalink: /Publications/
title: "Publications"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

Full Publication list

<span style="font-size:16px; text-align: justify;">Hi, this is Yao, I am a sea-going physical oceanographer and research scientist at School of Earth and Atmospheric Sciences, <span style="font-weight:bold">Georgia Institute of Technology</span> (<a href="https://eas.gatech.edu//">Geogia Tech</a>). I am also on the way becoming a photographer. On this website, you will find my most recent research and photos I recently shot during weekend trips.</span>